body{
    background-image: url("/BGImages/Laptops.jpg");
    background-repeat: no-repeat;
    background-position: right top;
}
h1{
    background-color: #6495ed;
}
p{
    background-color: #e0ffff;
}
div{
    background-color: #b0c4de;
}
